
@{
    ViewBag.Title = "InsertArtPiece";
    Layout = "~/Views/Shared/_ArtPieceManegerSharedLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <br/><h1 style="text-align:justify"> Titulo</h1><hr/>
    <h4 style="text-align: center"> SubTitulo</h4><hr/>
    <div class="container">
    </div>
    <div>
        <hr class="hrStyle">
        <p>
            @*@Html.ActionLink(linkText: "Back to the #################3", actionName: "ShowRequestsList")*@
        </p>
    </div>
</body>
</html>
